<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tukorea.MBTIbackend.comparison.mapper.ProductMapper">

    <select id="getProductList" resultType="tukorea.MBTIbackend.comparison.dto.ProductDto">
        SELECT * FROM mbtidb.mbti_product
    </select>

    <select id="getById" parameterType="int" resultType="tukorea.MBTIbackend.comparison.dto.ProductDto">
        SELECT * FROM mbtidb.mbti_product WHERE ID = #{id}
    </select>

</mapper>
