<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tukorea.MBTIbackend.DBconnection.model.dao.TestMapper">

    <select id="getAllDataList" resultType="tukorea.MBTIbackend.DBconnection.model.dto.product">
        SELECT * FROM product;
    </select>

</mapper>